<!--<h1>Hello world</h1>

<p>{{name}}</p>  <!-- {{}} is interpolation , getting data from .js file to .html file 


UserName:<input type="text" #uName/> 

<button (click)="changeName(uName.value)">change Name</button>

{{Username}}

<br><br>


<input type="number" #num/>
<button (click)="squarenum(num.value)">Squaring the number</button>

{{num1}}

<br><br>
<input type="number" #num (keyup)="squarenum(num.value)"/>


{{num1}}

{{"data is json" | uppercase}}  pipes , converting into lower case
<br><br>
{{"data is JSON" | lowercase}}  <!-- pipes , converting into upper case
<br><br>
{{"data is json" | titlecase}}  <!-- pipes , converting into title case
<br><br>
{{empDetails | json}}  <!-- pipes , displaying json format
<br><br>
{{10000 | currency}}  <!-- pipes , displaying currency format
<br><br>
{{"marry":gender:'M'}}    <!-- pipes , user defined
<app-login></app-login>

<button (click)="getDataFromChild()">get student data</button>
<app-student [studData] = "studentData"></app-student>

<app-teacher {teacherData}="getTeacherData()"></app-teacher>
{{dataFromChild}}
-->